<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Genero</servlet-name>
        <servlet-class>servlets.Genero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPelicula</servlet-name>
        <servlet-class>servlets.AgregarPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPeliculas</servlet-name>
        <servlet-class>servlets.ListarPeliculas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPeliculas</servlet-name>
        <servlet-class>servlets.EliminarPeliculas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Genero</servlet-name>
        <url-pattern>/Genero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPelicula</servlet-name>
        <url-pattern>/AgregarPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPeliculas</servlet-name>
        <url-pattern>/ListarPeliculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPeliculas</servlet-name>
        <url-pattern>/EliminarPeliculas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>paginas/pruebaMEN78X.jsp</welcome-file>
    </welcome-file-list>
</web-app>
